<div class="page-head">
  <h1>Success!</h1>
</div>
<div class="actions-nav">
  <p>Appointment Actions:</p>
  <ul>
    <li class="appt-item"><< <a href="/animals">View Animals</a></li>
    <li class="appt-item"><a href="/animals/register">Register Animal</a></li>
  </ul>
</div>
