<h1 id="home-header">This is the homepage</h1>
<div class="flex-container">
  <div>
    <h2>Register:</h2>
  </div>
</div>
<div class="flex-container">
  <div class="home-block">
    <p><a href="/owners/register">Owners</a></p>
  </div>
  <div class="home-block">
    <p><a href="/animals/register">Animals</a></p>
  </div>
</div>
<div class="flex-container">
  <div>
    <h2>Manage:</h2>
  </div>
</div>

<div class="flex-container">
  <div class="home-block">
    <p><a href="/animals">Animals</a></p>
  </div>
  <div class="home-block">
    <p><a href="/vets">Vets</a></p>
  </div>
  <div class="home-block">
    <p><a href="/owners">Owners</a></p>
  </div>
</div>
