<div class= "page-head">
<h1>Dashboard</h1>
</div>
<div class="main">
  <div class="flex-container">
    <div>
      <h2>Manage Appointments:</h2>
    </div>
  </div>
  <div class="flex-container">
    <div class="home-block">
      <p><a href="/appointments/new">Create</a></p>
    </div>
    <div class="home-block">
      <p><a href="/appointments/today">Today</a></p>
    </div>
    <div class="home-block">
      <p><a href="/appointments">View All</a></p>
    </div>
  </div>
  <div class="flex-container">
    <div>
      <h2>Register:</h2>
    </div>
  </div>
  <div class="flex-container">
    <div class="home-block">
      <p><a href="/owners/register">Owners</a></p>
    </div>
    <div class="home-block">
      <p><a href="/animals/register">Animals</a></p>
    </div>
  </div>
  <div class="flex-container">
    <div>
      <h2>Manage:</h2>
    </div>
  </div>

  <div class="flex-container">
    <div class="home-block">
      <p><a href="/animals">Animals</a></p>
    </div>
    <div class="home-block">
      <p><a href="/vets">Vets</a></p>
    </div>
    <div class="home-block">
      <p><a href="/owners">Owners</a></p>
    </div>
  </div>
</div>
