<h1>This is the homepage</h1>
<h2>Register:</h2>
<p>Owners</p>
<p>Animals</p>
<h2>Manage:</h2>
<p><a href="/animals">Animals</a></p>

<p><a href="/vets">Vets</a></p>

<p><a href="/owners">Owners</a></p>
