<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Clover Farm Vets</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
      <div id="logo-wrapper">
        <img src="/images/CloverFarmBadge.png" id="logo" >
      </div>
        <nav id="menu">
          <li class="menu-item"><a href='/'>Dashboard</a></li>
          <li class="menu-item"><a href='/owners'>Owners</a></li>
          <li class="menu-item"><a href='/animals'>Animals</a></li>
          <li class="menu-item"><a href='/vets'>Vets</a></li>
        </nav>
    <%= yield %>
  </body>
</html>
