<h1>Vets</h1>
<div>
  <table id="vets-table">
    <tr>
      <td>Name</td>
      <td>Mobile</td>
      <td>Animal Category</td>
    <% for vet in @vets %>
    <tr>
      <td><%= vet.name.capitalize %></td>
      <td><%= vet.mobile %></td>
      <td><%= vet.animal_category %></td>
      <td><a href="/vets/<%= vet.id %>">Details</a></td>
      <td>Manage</td>
    </tr>
    <% end %>
  </table>
</div>
