<form method="post" actions="/vets">
  <label for="name">Name</label>
  <input type="text" name="name">
  <br>
  <label for="mobile">Mobile</label>
  <input type="text" name="mobile">
  <br>
  <label for="animal_category">Animal Category</label>
  <select name="animal_category">
    <option value="null">Select Category</option>
    <option value="small">Small</option>
    <option value="large">Large</option>
  </select>
  <br>
  <input type="submit" value="Add" class="buttons">
</form>
