body {
  font-family: 'Roboto Slab', serif;
  margin:0px;
}

p {
  font-size:12pt;
}

h1{
  font-size: 20pt;
}

.back{
  text-align:center;
}

.back a{
  color:#417a41;
  text-decoration:none;
}

.back a:hover{
  color:#417a41;
  text-decoration: underline;
}

/* Top Bar from layout */

.head {
  background-color: #ffffff;
}

#logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top:10px;
}

#logo {
  max-width:80px;
}

#name-header{
  text-align: center;
  font-family: 'Poiret One', serif;
  font-size: 20pt;
  margin-top:0px;
  margin-bottom:10px;
}

#menu {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#menu a{
  text-decoration: none;
  color: #417a41;
  font-weight: bold;
}

#menu a:hover{
  text-decoration: underline;

}

#menu a:visited{
  text-decoration: none;
}

/* Page headings bar */

.page-head {
  background-color: #417a41;
  height: 100px;
}

.page-head h1{
  text-align: center;
  line-height:100px;
  color: #ffffff;
}

.sub-page-head {
  background-color: #417a41;
  height: 50px;
}

.sub-page-head h2{
  text-align: center;
  line-height:50px;
  color: #ffffff;
  font-size:16pt;
}

.center-sub-head h2{
  text-align: center
}

/* Homepage */

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-block{
  /* padding:80px; */
  margin: 20px;
  border: solid 5px #417a41;
  background-image: url("/images/cloverfarmbg.png");
  background-position: bottom;
  background-size: cover;
  width:200px;
  height:200px;
  line-height: 150px;
  text-align: center;
}

.home-block a{
  text-decoration:none;
  font-size:20pt;
  color:#417a41;
}

.home-block a:hover{
  text-decoration:underline;
  cursor: pointer;
  font-size:22pt;
  color:#417a41;
}

.home-block a:visited{
  text-decoration:none;
}

/* main content area */

.main {
  background-color: #DFEFE2;
  padding: 0 20px 50px 20px;
}

/* Landing Pages with tables */

table {
  width:100%;
  border-collapse: collapse;
}

table a{
  text-decoration: none;
  color: #417a41;
  font-weight: bold;
}

table a:hover{
  text-decoration: underline;
}

/* table tr:nth-child(even){
  background-color:#DFEFE2;
} */

tr:hover{
  background-color:#DFEFE2;
}

th{
  background-color:#ffffff;
  padding: 20px;
  vertical-align: top;
  text-align:left;
  font-size:16pt;
}

th:hover{
  background-color:#ffffff;
}

td {
  padding: 20px;
  vertical-align: top;
}

.table-wrapper{
  margin: 15px 50px 50px 50px;
}

.table-button {
  background-color:#ffffff;
}

.td-border-left{
  border-left: 1px solid black;
}


/* Show pages */

.details-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width:500px;
  padding:40px 50px 50px 50px;
}

.details-table {
  width: 100%;
}

.details-table td{
  padding:10px;
}

/* Forms */

input, select {
  margin-bottom:25px;
}

input {
  height:30px;
  width:200px;
  display: inline-block;
  float: left;
  font-family: 'Roboto Slab', serif;
  font-size:12pt;
}

textarea {
  font-family: 'Roboto Slab', serif;
  font-size:12pt;
  display: inline-block;
  float: left;
  width:450px;
  margin-top:10px;
}

select {
  width:200px;
  height:30px;
  font-family: 'Roboto Slab', serif;
  font-size:12pt;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}

.buttons{
  background-color: #417a41;
  border: none;
  color: #ffffff !important;
  padding: 10px 10px 35px 10px;
  text-decoration: none;
  font-size: 14pt;
  cursor: pointer;
  margin-top:30px;
}

.buttons:hover {
  background-color: #DFEFE2;
  border: none;
  color: #000000 !important;
  padding: 10px 10px 35px 10px;
  text-decoration: none !important;
  font-size: 14pt;
  margin-top:30px;
}


/* Appointments */

.actions-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  padding:10px;
}

.actions-nav a{
  color: #417a41;
  font-size:12pt;
  text-decoration: none;
}

.actions-nav a:hover{
  color: #417a41;
  font-size:12pt;
  text-decoration: underline;
}

.actions-nav a:visited{
  color: #417a41;
  font-size:12pt;
  text-decoration: none;
}

.appt-item {
  display: inline-block;
  flex-grow: 1;
  padding-right:20px;
}

/* footer */

#footer {
}

#footer p{
  text-align: center;
  font-family: 'Poiret One', serif;
  font-size:16pt;
}
