body {
  font-family: 'Roboto Slab', serif;
  margin:0px;
  padding: 0px;
}

/* Top Bar from layout */

.head {
  background-color: #ffffff;
}

#logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top:10px;
}

#logo {
  max-width:80px;
}

#name-header{
  text-align: center;
  font-family: 'Poiret One', serif;
  font-size: 20pt;
  margin-top:0px;
  margin-bottom:10px;
}

#menu {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#menu a{
  text-decoration: none;
  color: #417a41;
  font-weight: bold;
}

#menu a:hover{
  text-decoration: underline;

}

#menu a:visited{
  text-decoration: none;
}

/* Page headings bar */

.page-head {
  background-color: #417a41;
  height: 100px;
}

.page-head h1{
  text-align: center;
  line-height:100px;
  color: #ffffff;
}

/* Homepage */

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-block{
  padding:80px;
  margin: 20px;
  border: solid 1px black;
  background-color: #ffffff;
  font-size:16pt;
  min-width:100px;
  text-align: center;
}

.home-block a{
  text-decoration:none;
}

.home-block a:hover{
  text-decoration:underline;
  cursor: pointer;
}

.home-block a:visited{
  text-decoration:none;
}

/* main content area */

.main {
  background-color: #DFEFE2;
}

/* Landing Pages with tables */

#animals-table {
  width: 100%;
}

#animals-table td{
  padding: 20px;
}

#owners-table {
  width: 100%;
}

#owners-table td{
  padding: 20px;
  vertical-align: top;
}

#vets-table {
  width: 100%;
}

#vets-table td{
  padding: 20px;
  vertical-align: top;
}

/* Show pages */

.details-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width:500px;
}

.details-table {
  width: 100%;
}

.details-table td{
  padding:10px;
}

/* Appointments */

#appointments-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  padding:10px;
}

.appt-item {
  display: inline-block;
  flex-grow: 1;
  padding-right:20px;
}
