#logo-wrapper {
  display: flex;
  justify-content: center;
  margin:20px;
}

#logo {
  max-width:150px;
}

/* Menu Navigation */

#menu {
  width: 280px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

/* Homepage */

#home-header{
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-block{
  padding:80px;
  margin: 20px;
  border: solid 1px black;
}

/* Landing Pages with tables */

#animals-table {
  width: 100%;
}

#animals-table td{
  padding: 20px;
}

#owners-table {
  width: 100%;
}

#owners-table td{
  padding: 20px;
  vertical-align: top;
}

#vets-table {
  width: 100%;
}

#vets-table td{
  padding: 20px;
  vertical-align: top;
}
