<div class="page-head">
  <h1>Success!</h1>
</div>
<div class="actions-nav">
  <p>Actions:</p>
  <ul>
    <li class="appt-item"><a href="/owners">View Owners</a></li>
    <li class="appt-item"><a href="/owners/register">Register Owner</a></li>
    <li class="appt-item"><a href="/animals/register">Register Animal</a></li>
  </ul>
</div>
