<h1>Owners</h1>
<% for owner in @owners %>
<ul>
<li><%= owner.display_name %></li>
<li><%= owner.status.capitalize %></li>
<li>
  <% animals = owner.animals %>
  <% for animal in animals %>
  <%= animal.name %>
  <% end %>
</ul>
<% end %>
